


.text-container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-container h1 {
    color: #505e6b;
    font-family: customArabic;
    font-size: 2.3rem;    
}

.button {
    background-color: rgb(7, 7, 112);
    border: none;
    color: white;
    padding: 15px 35px;
    font-size: 22px;
    font-weight: 700;
    font-family: customArabic;
    text-decoration: none;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button:hover {
    background-color: rgb(4, 4, 66); /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.card-container {
    display: flex;
    align-items: center;
    margin-top: 60px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-container div {
    border: 1px #fff solid;
    padding: 10px 20px;
    flex-basis: 20%;
}

.card-container p {
    color: rgb(255, 255, 255);
    font-family: customArabic;
}

.card-button {
    background-color: #813D36;
    border: none;
    color: white;
    padding: 5px 12px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 767px){
    .flex-container{
        display: flex;
        flex-direction: column-reverse;
    }

    .photo-container{
        /*background-color:white;
        display: inline-block;
        width: 40%;*/
        flex: 1;
        order: 1;
    }
    .text-container {
        flex: 1;
        order: 1;  
    }

    h1 {
        /*position: absolute;
        margin-left: 60px;
        margin-top: 280px;*/
        font-size: 20px;
    }

    .button {
        /*position: absolute;
        margin: 370px 0 0 110px;*/
        padding: 12px 20px;
    }
}

